<div>
    <div class="col-md-6">
        <div class="well well-sm">
            <h4>User Detail</h4>
            <label>First Name: </label>
            <input type="text" class="form-control" [(ngModel)]="user.fName" />

            <label>Last Name: </label>
            <input type="text" class="form-control" [(ngModel)]="user.lName" />

            <label>Date of Birth: </label>
            <input type="datetime-local" class="form-control" [(ngModel)]="user.DOB" />

            <button class="btn btn-primary" (click)="save()">Save</button>
            <button class="btn btn-default" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>