<button class="btn btn-primary" (click)="goToAdd()">Add User</button><div class="container">
  <br>
  <div class="row">
    <div class="col-md-4"><strong>First Name</strong></div>
    <div class="col-md-4"><strong>Last Name</strong></div>
    <div class="col-md-4"><strong>Date of Birth</strong></div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let user of users">
      <div class="row">
        <div class="col-md-4">{{ user.fName }}</div>
        <div class="col-md-4">{{ user.lName }}</div>
        <div class="col-md-4">{{ user.DOB }}</div>
      </div>
    </li>
  </ul>
  <!-- </div> -->
</div>
